body{
    background-color: rgb(255, 255, 255);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 25px;
  }
  
  .navbar-light .navbar-brand {
      color: rgb(67, 137, 165);
      font-family: 'Ibarra Real Nova', serif;
      font-size: x-large;
    }
    .navbar-light .navbar-nav .nav-link { 
      color: rgb(67,137,165);
      font-family: 'Ibarra Real Nova', serif;
      font-size: large;
    }
    .row{
      margin-right: 0 !important;
    }

  .pl-3 {
    padding-left: 3rem !important;
  }

  
h2{padding-top: 5%;
  color:  rgb(67,137,165);
  text-align: left;
  font-size: 200%;
  margin-right: 15%;
  padding-left: 44px;
}
.left.image{
  background: url('Photo\ of\ me.jpg'); background-size: cover; width:50%; min-height: 1000px;
}
p{text-align: justify;
  margin-top:50px;
  margin-right:10% ;
  
}
 

.align-items-center{
  align-items: unset !important;
 
}


    
@media (max-width: 767px) {
  .align-items-center {
    padding-right: 0px;

  }
}

.footer > h6 { padding-top:10px; }

.spacer { margin-bottom: 80px;}

p{font-size: 20px;
}